{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    'plugin:@next/next/recommended',
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}
